body {
  padding-top: 70px;
  padding-bottom: 30px;
}

.jumbotron {
  background-color: #dff0d8;
}

a.list-group-item:hover,
a.list-group-item:focus {
  font-weight: bold;
  color: #468847;
}
div.panel-body {
  word-wrap: break-word;
}

div.panel-body img {
  display:block;
  margin:auto; 
}
div.mdrender {
  display: block;
  padding: 9.5px;
  margin: 0 0 10px;
  font-size: 14px;
  line-height: 1.428571429;
  border: 1px solid #ccc;
  border-radius: 5px;
}
div.mdrender p {
  margin-top: 20px;
  margin-bottom: 20px;
}
footer {
  margin-top: 60px;
  height: 80px;
  padding-top: 8px;
  padding-left: 80px;
  padding-right: 80px;
  vertical-align: middle;
  background-color: #dff0d8;
}
footer > p {
  vertical-align: middle;
}
h3.md {
  margin-bottom: inherit;
}
img {
  border:3px solid;
  border-radius:25px;
  border-color: gray;
  display: block;
  max-width: 100%;
  margin: 0 0 5 5;
}
pre.source {
display: block;
padding: 9.5px;
margin: 0 0 10px;
font-size: 14px;
line-height: 1.428571429;
color: #F30505;
word-break: break-all;
word-wrap: break-word;
background-color: #f5f5f5;
border: 1px solid #ccc;
border-radius: 5px;
}
.imgwrap {
  margin-top: 20px;
  margin-bottom: 20px;
}
.panel {
  border: 1px solid #ddd;
}

.panel > .panel-heading {
  background-color: #dff0d8;
}
.theme-dropdown .dropdown-menu {
  display: block;
  position: static;
  margin-bottom: 20px;
}
.theme-showcase > p > .btn {
  margin: 5px 0;
}
.ts-notice {
  margin: 20px 0;
  padding: 20px;
  border-left: 3px solid #eee;
}
.ts-notice-default {
  background-color: #B7B8B4;
  border-color: #999;
}
.ts-notice-primary {
  background-color: #C0DEF8;
  border-color: #428bca;
}
.ts-notice-primary h4 {
  color: #428bca;
  margin-bottom: 20px;
}
.ts-notice-success {
  background-color: #EFFAEA;
  border-color: #739964;  
}
.ts-notice-success h4 {
  color: #739964;  
  margin-bottom: 20px;
}
.ts-notice-warning {
  background-color: #fcf8f2;  
  border-color: #f0ad4e;
}
.ts-notice-warning h4 {
  color: #f0ad4e;
  margin-bottom: 20px;
}
.ts-notice-danger {
  background-color: #fdf7f7;
  border-color: #d9534f;
}
.ts-notice-danger h4 {
  color: #d9534f;
  margin-bottom: 20px;
}
.ts-notice-info {
  background-color: #f4f8fa;
  border-color: #5bc0de;
}
.ts-notice-info h4 {
  color: #5bc0de;
  margin-bottom: 20px;
}
.viewer {
  margin-top: 40px;
}